/*
 *= require simplex
 *= require_self
 */


.sorted-table tbody tr {
  cursor: pointer; }


.sorted-table tr.placeholder {
  display: block;
  background: red;
  position: relative;
  margin: 0;
  padding: 0;
  border: none; }

.sorted-table tr.placeholder:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: red;
  margin-top: -5px;
  left: -5px;
  border-right: none; }

.bottom-right {
  position: absolute;
  bottom:   1em;
  right:    2em;
}

table.story-table {
  .grabber{ width: 1em; }
  .id{ width: 3em; }
  .title{ min-width: 8em; }
  .overview{ min-width: 15em; }
  .points{ width: 4em }
  .roi{ width: 4em }
  .actions{ width: 4em}

}

body.story-cards {
  width: 8.5in;
}
.story-card{
  float: left;
  width: 4.25in;
  height: 3.666666667in;
  margin: 0;
  border-bottom: thin black solid;
  border-right: thin black solid;
  padding: 1em;
  .id {
    float: left;
  }
  .qr-code{
    float: right;
  }
  .overview {
    margin-top: 1em;
  }
  .points {
    margin-top: 1em;
  }
}

@media print {
	.page-break	{ display: block; page-break-before: always; }
}

.alerts {
  position: absolute;
  top: 0;
  right: 0;
  width: 20em;
  padding-top: 1em;
  padding-right: 1em;
}